<!DOCTYPE html>
<html lang="en">

<head>
    <title>TRAVERA</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/e48d166edc.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/shimla.css') }}">

</head>

<body>
    <div class="heading">
        <h3>Overview</h3>
        <div class="button_container">
            <a href="https://docs.google.com/spreadsheets/d/1n-PCzdDFA6Fb_MUR-ZtMDR_tquzrxWNxqSHHX258rU8/edit?usp=sharing">
                <button class="button-64" role="button"><span  class="text">Calculate Budget</span></button>
                </a>
        </div>

    </div>

    <div class="container">

        <div class="row_outer">
            <div class="col">


            <div class="column">

                <div class="row">
                    <h2>Day-1: Delhi
                    </h2>

                    <div class="effect">
                        <div class="effect-img">
                            <img src="static/img/Humayuns-Tomb.jpg" alt="">
                        </div>
                        <div class="effect-text">
                            <div class="inner">
                                <h2>Humayun's Tomb</h2>
                                <p>Attraction (Best with Family) <br>Time: 6am - 6pm</p>
                                <div class="effect-btn">
                                    <a href="https://www.google.com/maps/place/Madan+Mahal+Fort,+Gurudev+Colony,+Delhi
        ,+Madhya+Pradesh+482001/@23.1484693,79.8994767,17z/data=!3m1!4b1!4m5!3m4!1s0x3981b21e90c5f7b5:0xbf7eff1bce6221f2!8m2!3d23.1484693!4d79.9016654" target="_blank" rel="noopener noreferrer"
                                        class="btn"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="effect">
                        <div class="effect-img">
                            <img src="static/img/lotus-temple.jpg" alt="">
                        </div>
                        <div class="effect-text">
                            <div class="inner">
                                <h2>Lotus Temple</h2>
                                <p>Attraction <br>Time: 8am - 5pm</p>
                                <div class="effect-btn">
                                    <a href="https://www.google.com/maps/place/Pisanhari+ki+Madiya/@23.1512758,79.8841689,17z/data=!3m1!4b1!4m5!3m4!1s0x3981b227f820750b:0xb7ee8a1f878cdcb3!8m2!3d23.1513638!4d79.8863294" target="_blank" rel="noopener noreferrer" class="btn"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h1>Accomodation:</h1>
                <div class="effect">
                    
                    <div class="effect-img">
                        <div class="accomodation">
                            
                        <img src="static/img/radissonDelhi.jpg" alt=""> </div>
                    </div>
                    <div class="effect-text">
                        <div class="inner">
                            <h2>Lake View Radisson</h2>
                            <p> <br>Price: Rs.3,916</p>
                            <div class="effect-btn">
                                <a href="https://www.google.com/travel/hotels/Delhi/entity/CgsIzJPclM-fmL_NARAB?q=top%20View%20in%20radisson%20In%20Delhi&g2lb=2502548%2C2503771%2C2503781%2C4258168%2C4270442%2C4284970%2C4291517%2C4306835%2C4597339%2C4703207%2C4718358%2C4723331%2C4757164%2C4790928%2C4809518%2C4814050%2C4816977%2C4828448%2C4829505%2C4832717%2C4836233%2C4836613&hl=en-IN&gl=in&cs=1&ssta=1&ts=CAESABogCgIaABIaEhQKBwjmDxAJGAQSBwjmDxAJGAUYATICEAAqDQoJOgNJTlJCAghQGgA&rp=EMyT3JTPn5i_zQEQho_Q2czcisFMEPT2t4O_t4XdMDgBQAFIA6IBBURlbGhpwAED&ap=aAE&ictx=1&ved=0CAAQ5JsGahcKEwiYmPaavvj5AhUAAAAAHQAAAAAQAw&utm_campaign=sharing&utm_medium=link&utm_source=htls" target="_blank" rel="noopener noreferrer"
                                    class="btn">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div></div>
            <div class="col">


            <div class="column">

                <div class="row">
                    <h2>Day-2: Delhi
                    </h2>
                    <div class="effect">
                        <div class="effect-img">
                            <img src="static/img/sarojini-nagar-market.png" alt="">
                        </div>
                        <div class="effect-text">
                            <div class="inner">
                                <h2>Sarojini Nagar Market</h2>
                                <p>Attraction <br> Time: 10am - 8:3pm</p>
                                <div class="effect-btn">
                                    <a href="https://www.google.com/maps/place/Kanha+kisli+Safari/@22.2202908,80.4329817,11z/data=!4m9!1m2!2m1!1skanha+kisli+national+park!3m5!1s0x3a2a113f47e5ca1d:0xf83cf995f79f7947!8m2!3d22.1061883!4d80.5570015!15sChlrYW5oYSBraXNsaSBuYXRpb25hbCBwYXJrkgENbmF0aW9uYWxfcGFya-ABAA" target="_blank" rel="noopener noreferrer" class="btn"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="effect">
                        <div class="effect-img">
                            <img src="static/img/red-fort.jpg" alt="">
                        </div>
                        <div class="effect-text">
                            <div class="inner">
                                <h2>Red Fort</h2>
                                <p>Attraction <br>Time: 9am - 4:30pm</p>
                                <div class="effect-btn">
                                    <a href="https://www.google.com/maps/place/Balancing+Rock/@23.1486295,79.90256,17z/data=!3m1!4b1!4m5!3m4!1s0x3981b21c5b7fefa1:0xa3784515c1f8dd80!8m2!3d23.1486246!4d79.9047487" target="_blank" rel="noopener noreferrer" class="btn"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div></div>
            <div class="col">
            <div class="column">

                <div class="row">
                    <h2>Day-3: Delhi
                    </h2>
                    <div class="effect">
                        <div class="effect-img">
                            <img src="static/img/qutub-minar.jpg" alt="">
                        </div>
                        <div class="effect-text">
                            <div class="inner">
                                <h2>Qutub Minar</h2>
                                <p>Attraction <br> Time: am - 9pm</p>
                                <disv class="effect-btn">
                                    <a href="https://www.google.com/maps/place/Dhuandhar+Waterfall+-+Narmada+Ropeway+(Bhedhaghat+side)/@23.1277418,79.8071591,17z/data=!4m12!1m6!3m5!1s0x3981b43e02e6b619:0x8e38d9ed3aea7c21!2sDhuandhar+Waterfall+Bhedaghat+Parking!8m2!3d23.1280625!4d79.8070625!3m4!1s0x0:0x6445668303449070!8m2!3d23.1275764!4d79.8089681" target="_blank" rel="noopener noreferrer" class="btn"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="effect">
                        <div class="effect-img">
                            <img src="static/img/select-citywalk.jpg" alt="">
                        </div>
                        <div class="effect-text">
                            <div class="inner">
                                <h2>Select CityWalk Mall</h2>
                                <p>Attraction <br>Time: 10am - 11pm</p>
                                <div class="effect-btn">
                                    <a href="https://www.google.com/maps/place/Marble+Rocks/@23.1299297,79.7932653,17z/data=!3m1!4b1!4m5!3m4!1s0x3981b4307f63f08f:0x74d795ee331f1ae4!8m2!3d23.1299297!4d79.795454" target="_blank" rel="noopener noreferrer" class="btn"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div></div>
        </div>
    </div>


</body>

</html>