<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TRAVERA</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
  <body>
    <header>
      <nav>
        <ul>
          <li class="navbar-links">
            <a href="/"> Home </a>
            <a href="/map-duration"> Planner </a>
            <a href="/contactForm"> Contact Us</a>
            <a href="/login"> Login</a>
          </li>
        </ul>
      </nav>
    </header>
  <div id="new">
    <div class="container">
      <p id="travera">TRAVERA</p>
      <p class="heading-text">
        For every <br />
        Seamless <br />
        Experience.
      </p>
      <a href="#section2">
        <div class="scroll-down"></div>
      </a>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <!-- <br /> -->
    <br />
    <br />
    <br />
    <div class="sec2">
      <br />
      <h2 id="section2" class="body-text">What do we do?</h2>
      <p class="body-text">Features of Travera have been listed below.</p>

      <div class="row">
        <div class="column">
          <div class="card" id="card1">
            <h3>💲 Budget Calculator 💲</h3>
            <p>
              Don't have idea of how much money to carry? No worries! With our
              Budget Calculator you can easily have an estimate on how much
              you'll spend.
            </p>
          </div>
        </div>

        <div class="column">
          <div class="card" id="card2">
            <h3>⚠️ Guidelines/ Precautions ⚠️</h3>
            <p>
              Ensuring your safety, Travera provides you with precautions of
              your destination.
            </p>
          </div>
        </div>

        <div class="column">
          <div class="card" id="card3">
            <h3>🏡 Accommodation Facility 🏡</h3>
            <p>
              Travera makes sure you stay in a better & safe place & hence the
              accomodations.
            </p>
          </div>
        </div>

        <div class="column">
          <div class="card" id="card4">
            <h3>🤳🏻 User-Provided Content 🤳🏻</h3>
            <p>
              Not only Travera, but users can also submit their own pictures/
              videos of a particular destination which is
              <strong>manually</strong> moderated.
            </p>
          </div>
        </div>
      </div>
    <a href="/login">
      <button type="button" name="myButton">Login</button>
    </a>
    </div>
  </div>
  </body>
</html>
