<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Travelling</title>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/solo1.css') }}">
</head>
<body>
    <!-- <header>
        <nav>
          <ul>
            <li class="navbar-links">
              <a href="./"> Home </a>
              <a href="/map-duration"> Map </a>
              <a href="/map-duration"> Planner </a>
              <a href="#"> Things to do </a>
              <a href="/Contact-Form"> Contact Us</a>
            </li>
          </ul>
        </nav>
      </header> -->
<!-- ************************************* main ******************************************* -->

<a href="/travelling" class="button1"><span>Back</span></a>

<div class="container">
    <h1>Our</h1>
        <div class="row" id ="default_img">
            <!-- <div class ="#" id ="default_img"> -->
            <div class="service" id="wandering-solo">
                <i class="fas fa-file-invoice"></i>
                <h2>Wandering Solo</h2>
                <!-- <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                quae?
                </p> -->
            </div>
            <div class="service" id="transportation">
                <i class="fas fa-money-check-alt"></i>
                <h2>Holidaying as a couple</h2>
                <!-- <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                quae?
                </p> -->
            </div>
            <div class="service" id ="vacation-family">
                <i class="fas fa-network-wired"></i>
                <h2>Vacationing with family</h2>
                <!-- <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                quae?
                </p> -->
            </div>
            <div class="service" id ="travelling-friends">
                <i class="fas fa-network-wired"></i>
                <h2>Traveling with friends</h2>
                <!-- <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                quae?
                </p> -->
            </div>
        </div>

        <div id ="wandering-solo-1">
            <div class="if-male-h">
                <div class="icon-male">
                    <box-icon name='male'></box-icon>
                    Male
                </div>
            </div>
            <div class="row">
                <div class="service">
                    <!-- <i class="fab fa-instagram"></i> -->
                    <!-- <i class="fas fa-laptop-code"></i> -->
                    <h2>Under 18</h2>
                    <!-- <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                        quae?
                    </p> -->
                </div>
                <div class="service">
                    <!-- <i class="fas fa-chart-line"></i> -->
                    <h2>18-40</h2>
                    <!-- <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                        quae?
                    </p> -->
                </div>
                <div class="service">
                    <!-- <i class="fab fa-sketch"></i> -->
                    <h2>(40>)</h2>
                    <!-- <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                        quae?
                    </p> -->
                </div> 
                <!-- </div> -->
            </div>

            <div class="if-male-h">
                <div class="icon-male">
                    <box-icon name='female'></box-icon>
                    Female
                </div>
            </div>

            <div class="row">
                <!-- <div class="if-male-h"> -->
                    <div class="service">
                        <i class="fab fa-instagram"></i>
                        <i class="fas fa-laptop-code"></i>
                        <h2>Under 18/h2>
                        <!-- <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                            quae?
                        </p> -->
                    </div>
                    <div class="service">
                        <i class="fas fa-chart-line"></i>
                        <h2>18-40</h2>
                        <!-- <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                            quae?
                        </p> -->
                    </div>
                    <div class="service">
                        <i class="fab fa-sketch"></i>
                        <h2>(40>)</h2>
                        <!-- <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                            quae?
                        </p> -->
                    </div>
                <!-- </div> -->
            </div>
        </div>

        <div class="row" id="vacation-family-1">
            <!-- <div id="things-to-do-1"> -->
            <div class="service">
                <i class="fas fa-database"></i>
                <h2>Data Analysis</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                    quae?
                </p>
            </div>
            <div class="service">
                <i class="fas fa-mobile-alt"></i>
                <h2>App Development</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                    quae?
                </p>
            </div>
            <div class="service">
                <i class="fas fa-mobile-alt"></i>
                <h2>App Development</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                    quae?
                </p>
            </div>
        </div>

        <div class="row" id="travelling-friends-1">
            <!-- <div id="things-to-do-1"> -->
            <div class="service">
                <i class="fas fa-database"></i>
                <h2>Data Analysis</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                    quae?
                </p>
            </div>
            <div class="service">
                <i class="fas fa-mobile-alt"></i>
                <h2>App Development</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                    quae?
                </p>
            </div>
            <div class="service">
                <i class="fas fa-mobile-alt"></i>
                <h2>App Development</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                    quae?
                </p>
            </div>
        </div>

    <!-- </div> -->

    <!-- <div class="show-main-question" id ="prev-button">
        <span class="lbl">Prev Question</span>
        <span class="icon-prev"></span>
    </div> -->

<a href = "/Overview" class="button"><span>Next</span></a>



</div>

<div class="show-main-question" id ="prev-button">
    <span class="lbl">Prev Question</span>
    <span class="icon-prev">
        <i class="fas fa-database"></i>
    </span>
</div>
<div class="akshit">
<footer class = footer>
    <div class="footer-content">
        <h3>Team Panchayat</h3>
        <p> <b>Email : oppanchayat5@gmail.com </b> </p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://github.com/panchayat5"><i class="fa fa-github"></i></a></li>
            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>All right reserved by ©Panchayat_GGITS <span>designed with &#x2764</span></p>
    </div>
</div>
</footer>


<script>

$(document).ready(function() {
	$('#default_img').show();
	$('#wandering-solo-1').hide();
	$('#vacation-family-1').hide();
	$('#travelling-friends-1').hide();
	$('#prev-button').hide();
	// $('#mum_q5').hide();
	// $('#mum_q6').hide();
});


$('#wandering-solo').on('click', function() {
	$('#default_img').hide();
	$('#wandering-solo-1').show(500);
	$('#vacation-family-1').hide();
	$('#travelling-friends-1').hide();
	$('#prev-button').show();
	// $('#mum_q5').hide();
	// $('#mum_q6').hide();
});

$('#vacation-family').on('click', function() {
	$('#default_img').hide();
	$('#wandering-solo-1').hide();
	$('#vacation-family-1').show();
	$('#travelling-friends-1').hide();
	$('#prev-button').show();
	// $('#mum_q5').hide();
	// $('#mum_q6').hide();
});

$('#travelling-friends').on('click', function() {
	$('#default_img').hide();
	$('#wandering-solo-1').hide();
	$('#vacation-family-1').hide();
	$('#travelling-friends-1').show(500);
	$('#prev-button').show();
	// $('#mum_q5').hide();
	// $('#mum_q6').hide();
});

</script>

</body>
</html>